# Exclude IDE-specific files
.idea/
*.iml

# Exclude log files
*.log

# Exclude temporary system files
.DS_Store
Thumbs.db

# Exclude dependency folders
node_modules/
vendor/

# Exclude build files
/build/
dist/
.dart_tool/
ios/Pods/